<!DOCTYPE html>
<html>
  <!-- icons from https://www.iconfinder.com/iconsets/ikooni-outline-free-basic -->
<head>
  <title>Hyperspace Integration Demo</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://cdn.gomix.com/91dc9fca-bd1c-40d0-b9a8-7ba29bbf434e%2F1485991497_Settings.png"/>
  <link rel="stylesheet" type="text/css" href="demo.css"/>
  <script type="text/javascript" src="demo.js"></script>
</head>
<body onload="demoStartup();">

  {{{body}}}

</body>
</html>