<!DOCTYPE html>
<html>
<head>
  <title>Hyperspace Integration Demo</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="hyperspace.js"></script>
</head>
<body onload="simStartup();">

<h1>Simulated Hyperspace</h1>

<div>
	<h2>Simulation Token: <i style="font-family: monospace" id="token"></i></h2>
</div>

<iframe id="simFrame" width="600px" height="400px"></iframe>

</body>
</html>