<div>
  Launching from Hyperspace
  <div>
    iss = "<span style="font-family: monospace">{{iss}}</span>"
  <div>
  <div>
    launch = "<span style="font-family: monospace">{{launch}}</span>"
  <div>
</div>